<section>
    
    <div class="card">
      <div class="card-header">
          <h2>Khaled Hossain Ansary</h2>
          <h4>Education</h4>
      </div>
      <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <app-timeline [timelines]="educationTimeline"></app-timeline>
              </div>
              <div class="col-md-6">
                <div class="container mt-5 mb-5">
                    <!--class 'img-fluid' make the image responsive-->
                    <img src="assets/image/Universität-pano_image_full.jpg" class="img-fluid" alt="Leibniz University Hannover">
                    <p>
                        <a href="https://www.hannover.de/en/content/view/full/612101">Leibniz University Hannover (Photo: China Hopson).</a>
                    </p>
                </div>
              </div>
            </div>
        </div> 
    </div>
</section>