<section>
    
    <div class="card">
      <div class="card-header">
          <h2>Khaled Hossain Ansary</h2>
          <h4>Education</h4>
      </div>
      <div class="card-body">
          <mgl-timeline>
              <mgl-timeline-entry>
                  <mgl-timeline-entry-header><fa name="graduation-cap"></fa> M.Sc. in Internet Technologies & Information Systems (ITIS)</mgl-timeline-entry-header>
                  <mgl-timeline-entry-dot class="bg-warning"></mgl-timeline-entry-dot>
                  <mgl-timeline-entry-content class="bg-info"><fa name="university"></fa> Leibniz Universität Hannover, Germany</mgl-timeline-entry-content>
                  <mgl-timeline-entry-side><fa name="calendar"></fa> 2012–2015</mgl-timeline-entry-side>
              </mgl-timeline-entry>
              <mgl-timeline-entry>
                  <mgl-timeline-entry-header><fa name="graduation-cap"></fa> University of Dhaka, Bangladesh</mgl-timeline-entry-header>
                  <mgl-timeline-entry-dot class="bg-warning"></mgl-timeline-entry-dot>
                  <mgl-timeline-entry-content class="bg-info"><fa name="university"></fa> Leibniz Universität Hannover, Germany</mgl-timeline-entry-content>
                  <mgl-timeline-entry-side><fa name="calendar"></fa> 2008–2009</mgl-timeline-entry-side>
              </mgl-timeline-entry>
          </mgl-timeline>
      </div> 
    </div>
</section>