<nav class="navbar sticky-top navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">
            About Me
      </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="education">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="experience">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
        </li>
    </ul>
    
    <span class="navbar-text">
        <a class="brand-icon" href="#"><fa name="github"></fa></a>
        <a class="brand-icon" href="#"><fa name="linkedin"></fa></a>
        <a class="brand-icon" href="#"><fa name="xing"></fa></a>
    </span>
  </div>
</nav>