
<footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3">
                <h5></h5></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-6"> Copyright 2018 Khaled Hossain Ansary. All Rights Reserved.</div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end"></div>
        </div>
    </div>
</footer>
