<section>
   
    <div class="card">
      <div class="card-header">
          <h2>Khaled Hossain Ansary</h2>
          <h4>Expereince and Skills</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
              <app-timeline [timelines]="experienceTimeline"></app-timeline>
          </div>
          <div class="col-md-6">
              <div class="container mt-5 mb-5">
                <app-skill-visualization [data]="skills"></app-skill-visualization>
              </div>
          </div>
        </div>
      </div> 
    </div>
</section>